@use '../styles/variables' as *;

.typography {
  margin: 0;
  color: $on-surface;
  font-family: 'Roboto', sans-serif;
  
  &--variant-displayLarge {
    font-size: 3.5625rem;
    line-height: 4rem;
    font-weight: 400;
    letter-spacing: -0.25px;
  }
  
  &--variant-displayMedium {
    font-size: 2.8125rem;
    line-height: 3.25rem;
    font-weight: 400;
    letter-spacing: 0px;
  }
  
  &--variant-displaySmall {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 400;
    letter-spacing: 0px;
  }
  
  &--variant-headlineLarge {
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 400;
    letter-spacing: 0px;
  }
  
  &--variant-headlineMedium {
    font-size: 1.75rem;
    line-height: 2.25rem;
    font-weight: 400;
    letter-spacing: 0px;
  }
  
  &--variant-headlineSmall {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 400;
    letter-spacing: 0px;
  }
  
  &--variant-titleLarge {
    font-size: 1.375rem;
    line-height: 1.75rem;
    font-weight: 400;
    letter-spacing: 0px;
  }
  
  &--variant-titleMedium {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.15px;
  }
  
  &--variant-titleSmall {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    letter-spacing: 0.1px;
  }
  
  &--variant-bodyLarge {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.5px;
  }
  
  &--variant-bodyMedium {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
    letter-spacing: 0.25px;
  }
  
  &--variant-bodySmall {
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 400;
    letter-spacing: 0.4px;
  }
  
  &--variant-labelLarge {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    letter-spacing: 0.1px;
  }
  
  &--variant-labelMedium {
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 500;
    letter-spacing: 0.5px;
  }
  
  &--variant-labelSmall {
    font-size: 0.6875rem;
    line-height: 1rem;
    font-weight: 500;
    letter-spacing: 0.5px;
  }
  
  &--color-primary {
    color: $primary;
  }
  
  &--color-secondary {
    color: $secondary;
  }
  
  &--color-error {
    color: $error;
  }
  
  &--color-onSurface {
    color: $on-surface;
  }
  
  &--color-onSurfaceVariant {
    color: $on-surface-variant;
  }
  
  &--color-outline {
    color: $outline;
  }
  
  &--align-left {
    text-align: left;
  }
  
  &--align-center {
    text-align: center;
  }
  
  &--align-right {
    text-align: right;
  }
  
  &--align-justify {
    text-align: justify;
  }
  
  &--gutterBottom {
    margin-bottom: $spacing-4;
  }
  
  &--noWrap {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
